/target
/classes
/checkouts
/node_modules
/resources/public/js/**
.cpcache/
.shadow-cljs/
figwheel_server.log
pom.xml
pom.xml.asc
/lib
/out
*jar
*.class
/.lein-*
/.nrepl-port
/.idea
/*.iml
/*.png
/.repl
projectFilesBackup
/gh-pages
